# complied objects
*.so
*.o
*.dll
#*.hpp
#*.cpp

# R outputs that one does not normally want to VC
*.rds
*.pdf
*.png
*.log

# the package directory - sometimes useful sometimes not
#package/
other-code
renv/
ba-template/
old-versions/
txt-notes/
cover-letters/
arxiv-version/

# the tex file for the rmd - useful for me, don't check into the repo
multiple-phi.tex

# the rmd-report cache
rmd-reports/*_cache
rmd-reports/*_cache/*
rmd-reports/*_files
rmd-reports/*_files/*
rmd-reports/*.html
rmd-reports/*.tex

ba-reviews/*_cache
# sometimes these don't get cleaned up properly
*.aux
*.out

.DS_Store
bibliography/multi-phi-bib.bib.original
rstanarm_surv_stan_code.stan

# relent and use rstudio projects to get separate sessions working.
.Rproj.user
2019-10-11_multiple-phi.Rproj

# sublime project to build with correct version of make
multiple-phi.sublime-project
multiple-phi.sublime-workspace
2022-07_response-2.tex
