# complied objects
*.so
*.o
*.dll
#*.hpp
#*.cpp

# R outputs that one does not normally want to VC
*.rds
*.pdf
*.png
*.log

# the package directory - sometimes useful sometimes not
#package/

# the tex file for the rmd - useful for me, don't check into the repo
multiple-phi.tex

# sometimes these don't get cleaned up properly
*.aux
*.out