# complied objects
*.so
*.o
*.dll
#*.hpp
#*.cpp

# R outputs that one does not normally want to VC
*.rds
*.pdf
*.png
*.log

# the package directory - sometimes useful sometimes not
#package/
other-code
renv/

# the tex file for the rmd - useful for me, don't check into the repo
multiple-phi.tex

# the rmd-report cache
rmd-reports/*_cache/*

# sometimes these don't get cleaned up properly
*.aux
*.out

.DS_Store
bibliography/multi-phi-bib.bib.original